.container { padding: 60px 20px; }
.progressBar { border: 1px solid #ccc; background-color: #fff; margin: 0 0 10px 0;  position: relative;}
.percentageInfo { position: absolute; top: 0; text-align: center; font-size: 12px; color: #333; padding: 10px 0 0 0; font-weight: bold; }
.completedStyle { background-color: #c9e3f5; height: 40px; max-width: 100%; }
.buttonStyle li { display: inline-block; font-size: 12px; margin: 0 6px 0 0; }
.dropdownStyle { font-size: 14px;  }
.exceedStyle { background-color: red; }