<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
	<header>
		<h2>Progress Bars Demo</h2>
	</header>
	
	<div *ngFor="let bar of barOptions" class="progressBar"  [ngStyle]="{ 'width': 100 + '%' }">
	  	<div class="percentageInfo" [ngStyle]="{ 'width': 100 + '%' }"> {{bar.value}}% </div>
	  	<div class="completedStyle"  [ngStyle]="{ 'width': bar.value + '%' }" [ngClass]="{'exceedStyle': bar.isExceed}"></div>
	</div>

	<div class="row">
	  	<div class="col-md-12">
	  		<div class="pull-left">
				<select value=curSelBar (change)="onChange($event)" class="dropdownStyle">
					<option *ngFor="let bar of barOptionsDropDown" value={{bar.key}}>{{bar.name}}</option>
		        </select>
	    	</div>
	    	<div class="pull-left">
		    	<ul class="buttonStyle">
				  	<li *ngFor="let bt of buttonsOptions">
				  		<button (click)="buttonClick(bt.value)">{{bt.value}}</button>
				  	</li>
			  	</ul>
	    	</div>
	  	</div> 
	</div>
</div>

